/* Website stylesheet */

* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: #ffffff;
  font-family: Helvetica, Arial;
  font-size: 16px;
  color: black;
  background: white;
  /* background-image: url(images/concrete.png); */
  /* background-repeat: repeat; */
  margin: 0px 25px 25px 25px;
  padding: 0px 25px 25px 25px;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 25px;
  padding: 25px;
  text-align: center;
}

.banner {
  height: 300px;
  background-color: black;
  background-image: url(images/conor-sexton.jpg);
  background-size: cover;
  /* background-position: center; */
  /* border: 2px solid #e5e5e5; */
  border-radius: 8px;
  margin: 25px 25px 25px 25px
}

section {
  /* border: 2px solid #e5e5e5; */
  border-radius: 8px;
  background-color: #f5f5f5;
  margin: 25px;
  padding: 25px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  padding: 0 0 10px 0;
  text-align: left;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  padding: 0 0 10px 0;
  text-align: left;
}

h3{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  padding: 0 0 10px 0;
  text-align: left;
}

h1,
p,
li {
  margin: 10px 0 10px 0;
}

p {
  padding: 0 0 16px 0;
}

span {
  float: left;
  width: 0.7em;
  font-size: 400%;
  font-family: algerian, courier;
  line-height: 80%;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

img {
  width: 580px;
  height: 340px;
  margin: 10px 0 10px 0;
  image-align: center;
}

footer p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
